* {
    margin: 0px;
    padding: 0px;
    font-family: 'work sans';

}

/*starting header section*/
.main-header {
    background-image: url('images/banner/banner3.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 815px;


}

.header-content {
    margin: 0px 220px;
    text-align: right;
    padding-top: 240px;

}

.content-title {
    font-size: 70px;
    color: white;
    font-weight: bold;
    line-height: 80px;
}

.content-discription {
    color: white;
    font-size: 18px;
    line-height: margin;
    line-height: 30px;
    margin-bottom: 50px;
    margin-top: 50px;
}

.contact {
    padding: 17px 30px;
    font-size: 25px;
    font-weight: 600;
    color: #4444f5;
    border: none;
    border-radius: 7px;
}

/* ending header section*/

/*starting article section*/
.aricle-conteinar {
    margin: 0px 220px;
    display: flex;
    justify-content: space-around;
    height: 700px;
    margin-top: 200px;
}

.article-img {
    background-image: url('images/person.png');
    width: 60%;
    background-size: contain;
    background-repeat: no-repeat;
}

.article-content {
    margin-top: 200px;
    text-align: left;
    margin-left: -110px;
}

.article-title {
    font-size: 52px;
    font-weight: bold;
    line-height: 60px;
    margin-bottom: 30px;

}

.article-discription {
    line-height: 25px;
    color: #444343;
    margin-bottom: 20px;
}

.list {
    list-style: none;
    color: #444343;
    line-height: 32px;
}

i.fa-solid.fa-check {
    color: green;
    margin-right: 10px;
    margin-top: 8px;
}

/* ending article section*/

/* starting planing section*/
.planing-header {
    margin: 100px 220px;
    text-align: center;
    font-size: 47px;
    color: #444343;
}

.planing-container {
    margin: 0px 210px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}

.planing-box {
    padding: 10px;
    text-align: center;
    width: 260px;
    box-sizing: border-box;

}

.planing-box:hover {
    box-shadow: 2px 2px 10px;
}

.planing-box-header {
    font-size: 18px;
    color: #444343;
    margin: 15px 0px;
}

.plan-ditials {
    line-height: 25px;
    color: #444343;
}

/* ending planing section*/

/* starting mini bananr section*/

.bannar-container {
    background-image: url('images/watch.png'), linear-gradient(90deg, #000FAC, hsl(0deg 0% 100%));
    height: 245px;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px 210px;
    font-size: 43px;
    line-height: 79px;
    padding: 25px;
    background-blend-mode: multiply;
    margin-bottom: 100px;
}

.bannar-header {
    color: white;
}

.bannar-btn {

    padding: 9px 22px;
    font-size: 25px;
    font-weight: 600;
    color: #F15B13;
    border-radius: 5px;
    border: none;
}

/* ending mini banar section*/

/* starting footer section*/

footer {
    height: 80vh;
    background: #151414;
}

.footer-container {
    margin: 100px 210px;
    display: flex;

    justify-content: space-between;

}

.about-us {
    margin-top: 130px;
    width: 450px;
}

.from {
    margin-top: 130px;
    width: 400px;
}

.footer-header,
.from {
    color: white;
    font-size: 40px;
    margin-bottom: 20px;
}

p.about {
    color: white;
    line-height: 25px;
    margin-bottom: 25px;
}

.email,
.phone {
    color: white;
    margin-bottom: 25px;
}

.subscribe {
    font-size: 25px;

}

input[type="email"] {
    padding: 14px 25px;
    background: #151414;
    border: 1px solid white;
    color: white;
    margin-top: 32px;
    border-radius: 5px;
}

.subscribe-btn {
    padding: 14px 25px;
    font-size: 20px;
    margin-top: 27px;
    font-weight: 600;
    color: #F15B13;
    border-radius: 5px;
    background: white;
    border: none;
}

.social-links {
    margin: -100px 210px;
}

.icons {
    margin-right: 15px;
}

/* ending footer section */